body 
{
    font-family: 'Cormorant Garamond', serif;
}

.container 
{
    max-width: 300px;
    position: relative;
    left: 50%;
    translate:-50%;
    background-color: aliceblue;
    margin-top: 100px;
}

.image 
{
    max-width: 300px;
    background-color: aqua;
}

img 
{
    width: 100px;
    background-color: blue;
    border: 2px blue solid;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 25px;
    left: 50%;
    translate:-50% ;
}

.info 
{
    text-align: center;
    letter-spacing: 0.15rem;
    padding-top: 5px;
}

.name 
{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}
.detail 
{
    margin-top: 0px;
    font-size: 15px;
}

.icon 
{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
}

button 
{
    border-radius: 15%;
    font-size: 1.2rem;
    color: white;
    background-color: blue;
    border: none;
    padding: 15px 10px;
    letter-spacing: 0.10rem;
}

button:hover 
{
    cursor: pointer;
}

.button 
{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.more 
{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-evenly;
    padding: 20px;
}


i:hover
{
    cursor: pointer;
}